.flex-container > table, th, td
{
	border: 1px solid black;
	border-collapse: collapse;
	zoom:150%;
	margin-top:0%;
	
}

button
{
	width:150px;
	height:50px;
}

button[name="select"]
{
	width:100px;
	height:40px;
}

input
{
	width:100px;
}

.flex-container
{
	display: flex;
    flex-direction:row;
}

.flex-container-2 > div[id="team 1"], [id="team 2"], [id="team 3"], [id="team 4"]
{
	margin-left:35%;
	zoom:110%;
	font-size:20px;
	border: 1px solid black;
	border-collapse: collapse;
	text-align:center;
	padding-bottom: 15px;
}

.flex-container-2 > div[id="Jeoteams"]
{
	margin-left:5%;
	zoom:110%;
	font-size:25px;
}

.flex-container-2
{
	display: flex;
    flex-direction:column;
}

body
{
	background-image:url("https://i.pinimg.com/originals/cb/f9/4e/cbf94e30397c676b016bd576115bc710.gif");
	background-size: cover;          
	background-position: center;     
	background-repeat: no-repeat;    
	background-attachment: fixed;   
}

img
{
	zoom:150%;
	margin-left: 80%;
}

button[id="return"]
{
	color: red;
	background-color: black;
	text-align:center;
	margin-left:0.2%;
	margin-right:45%;
	margin-top:1.5%;
	font-size: 25px;
	zoom:100%;
}