body
{
	background-image:url("https://cdnb.artstation.com/p/assets/images/images/039/110/471/original/art-fume-panda.gif?1624977742");
}

button[id="return"]
{
	color: red;
	background-color: black;
	text-align:center;
	margin-left: 8%;
	zoom:250%;
}

input
{
	display: inline-block;
	width: 313px;
	text-align:right;
	background-color: black;
	color: white;
}

button
{
	display: inline-block;
	width: 50px;
	color: black;
	text-align:center;
}

button[name="symbol"]
{
	background-color: lightgray;
}

button[name="numbers"]
{
	background-color: darkgray;
}

button[id="btn0"], button[id="btnrad"], button[id="btndeg"]
{
	width: 104px;
}

button[id="btnequal"]
{
	background-color: skyblue;
}

button[id="btnclear"]
{
	background-color: skyblue;
}

button[id="btngle"]
{
	background-color: lightcyan;
}

p
{
	margin-left: 8%;
	margin-top: 12%;
	zoom: 200%;
}

img[id="imgcc"]
{
	width: 46px;
	zoom: 400%;
}